@import '~antd/dist/antd.css';

td.ant-table-column-sort {
  background: #fff;
}

.switch-group .ant-form-item-control .ant-row.ant-form-item {
  flex-direction: row-reverse;
  align-items: center;
}

.switch-group .ant-form-item-control .ant-row.ant-form-item {
  margin-bottom: 0;
}

.switch-group .ant-form-item-control .ant-col.ant-form-item-control {
  flex-grow: 0;
}

.switch-group .ant-form-item-control .ant-col.ant-form-item-label {
  flex-grow: 1;
  padding: 0 0 0 10px;
}

.recharts-tooltip-wrapper {
  z-index: 1;
}

.recharts-default-tooltip {
  border-radius: 2px;
  border: none !important;
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
    0 9px 28px 8px rgb(0 0 0 / 5%);
}
